<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>US Energy Consumption</title>
    <link rel="stylesheet" href="/css/style.css">
    <script type="application/javascript">
        // `state` and arrays of consumption per year => set these variables equal to appropriate value
        //   * these variables will be defined and accessible from any script loaded after this one
        var state = {{{STATE}}};
        var coal_counts = {{{COAL_COUNTS}}};               // array - value per year (e.g. [1234, 2567, ...])
        var natural_gas_counts = {{{NATURAL_GAS_COUNTS}}}; // array - value per year (e.g. [1234, 2567, ...])
        var nuclear_counts = {{{NUCLEAR_COUNTS}}};         // array - value per year (e.g. [1234, 2567, ...])
        var petroleum_counts = {{{PETROLEUM_COUNTS}}};     // array - value per year (e.g. [1234, 2567, ...])
        var renewable_counts = {{{RENEWABLE_COUNTS}}};     // array - value per year (e.g. [1234, 2567, ...])
    </script>
</head>
<body>
    <!-- create template here -->

    <div class="navigation">
        <div class="dropdown">
            <button class="dropbtn">Year</button>
            <ul class="dropdown-content" id="dropdown-year">
                
            </ul>
            <script>
                let element = document.getElementById("dropdown-year");
                for(i=1960; i<2019; i++){
                    let new_li = document.createElement("li");
                    let new_link = document.createElement("a")
                    new_link.textContent = i;
                    new_link.href = "/year/" + i;
                    new_li.appendChild(new_link)
                    element.appendChild(new_li);
                }
            </script>
        </div>
        <div class="dropdown">
            <button class="dropbtn">State</button>
            <ul class="dropdown-content" id="dropdown-state">
        
            </ul>
            <script>
                let states = ["Alaska", "Alabama", "Arkansas", "Arizona", "California", "Colorado", "Connecticut", "District of Columbia", "Delaware", "Florida", "Georgia", "Hawaii", "Iowa", "Idaho", "Illinois", "Indiana", "Kansas", "Kentucky", "Louisiana", "Massachusetts", "Maryland", "Maine", "Michigan", "Minnesota", "Missouri", "Mississippi", "Montana", "North Carolina", "North Dakota", "Nebraska", "New Hampshire", "New Jersey", "New Mexico", "Nevada", "New York", "Ohio", "Oklahoma", "Oregon", "Pennsylvania", "Rhode Island", "South Carolina", "South Dakota", "Tennessee", "Texas", "Utah", "Virginia",  "Vermont", "Washington", "Wisconsin", "West Virginia", "Wyoming"]
                let states_abbrev = [ "AK","AL","AR","AZ","CA","CO","CT","DC","DE","FL","GA","HI","IA","ID","IL","IN","KS","KY","LA","MA","MD","ME","MI","MN","MO","MS","MT","NC","ND","NE","NH","NJ","NM","NV","NY","OH","OK","OR","PA","RI","SC","SD","TN","TX","UT","VA","VT","WA","WI","WV","WY"]
                let element_state = document.getElementById("dropdown-state");
                for(i=0; i<51; i++){
                    let new_li = document.createElement("li");
                    let new_link = document.createElement("a")
                    new_link.textContent = states[i];
                    new_link.href = "/state/" + states_abbrev[i];
                    console.log(new_link)
                    new_li.appendChild(new_link)
                    element_state.appendChild(new_li);
                }
            </script>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Energy Source</button>
            <div class="dropdown-content">
                <a href="/energy/coal">Coal</a>
                <a href="/energy/naturalgas">Natural Gas</a>
                <a href="/energy/nuclear">Nuclear</a>
                <a href="/energy/petroleum">Petroleum</a>
                <a href="/energy/renewable">Renewable</a>
            </div>
        </div>
    </div>

    <h1>{{{STATE}}}</h1>
</body>
</html>
