<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>US Energy Consumption</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
   
    
</head>


<body>
    
    <div class="container">
        <canvas id="myChart"></canvas>
    </div>

    <script>
        let myChart = document.getElementById('myChart').getContext('2d');
        let massPopChart = new Chart(myChart, {
            type: 'bar', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
            data: {
                labels:['Boston', 'SpringField'],
                datasets:[{
                    label:'Population',
                    data:[
                        617594,
                        181045
                    ],
                    //backgroundColor: 'blue'
                    backgroundColor: [
                        'green', 
                        'blue'
                    ]
                }]
            },
            options: {}
        });
    </script>

    <!-- create template here -->
    <h1> Year is: {{{YEAR}}}</h1>
    <h1> Coal is: {{{COAL_COUNT}}} </h1>
    <h1> Natural Gas is: {{{NATURAL_GAS_COUNT}}}</h1>
    <h1>Nuclear is: {{{NUCLEAR_COUNT}}}</h1>
    <h1>Petroleum is: {{{PETROLEUM_COUNT}}}</h1>
    <h1>Renewable is: {{{RENEWABLE_COUNT}}}</h1>


<table>

    <tr>
        <th>Coal</th>
        <th>Natural Gas</th>
        <th>Nuclear</th>
        <th>Petroleum</th>
        <th>Renewable</th>
    </tr>
    <tr>
        <td>Coal 1</td>
        <td>Natural Gas 1</td>
        <td>Nuclear 1</td>
        <td>Petroleum 1</td>
        <td>Renewable 1</td>
    </tr>
</table>

</body>
</html>
